body {
  background-color: dimgrey;
  color: #333;
  font-family: "Raleway", sans-serif;
}

@mixin heading-styles($font-size) {
  text-transform: uppercase;
  font-weight: 800;
  font-size: $font-size;
}

h2 {
  @include heading-styles(40px);
  display: flex;
}

h3 {
  @include heading-styles(27px);
}

p {
  font-size: 24px;
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

///////////////////////////////
// HEADER
.header-left, .header-right {
  background-color: white;
  padding: 70px 0 70px 0;
}

.vertical-line {
  width: 70px;
  height: 390px;
  background-color: #333;
}

.text-row {
  padding-left: 35px; /* Відступ між лінією та текстом */
  max-width: calc(100% - 70px); /* Максимальна ширина контейнера тексту */
  flex-grow: 1; /* Дозволяє текстовому контейнеру займати залишок простору */
}

h1 {
  font-weight: 900;
  font-size: 131px;
  line-height: 1;
}

.text-row p {
  font-size: 30px;
  padding: 0 0 0 24px;
  letter-spacing: 4px;
}

.Noel {
  margin-left: 35px; /* Відступ між фото та контактами */
  background-color: #333; /* Колір фону для елемента падінгу */
  padding: 15px; /* Внутрішній відступ */
  width: 390px;
  height: 390px;
}

.contact {
  background-color: #333;
  color: white;
  padding: 35px; /* Внутрішні відступи */
  width: 400px;
  height: 390px;
}

.contact-header h2 {
  margin-top: 10px;
}

.contact-header {
  display: flex; /* Використання flexbox для вирівнювання */
}

.contact-header-i {
  font-size: 48px; /* Розмір шрифту для іконки */
  width: 60px; /* Ширина іконки */
  height: 60px; /* Висота іконки */
  align-items: center; /* Вирівнювання по вертикалі */
  justify-content: center; /* Вирівнювання по горизонталі */
  margin: 0 15px 45px 0; /* Відступ праворуч та знизу від іконки */
  display: inline-flex; /* Додаємо flexbox для вирівнювання */
  background-color: white;
  color: #333333;

  //font-size: 60px; /* Розмір шрифту для іконки */
  //width: 75px; /* Ширина іконки */
  //height: 75px; /* Висота іконки */
}

.contact-phone, .contact-globe, .contact-map {
  display: flex; /* Використання flexbox для вирівнювання */
  align-items: center; /* Вертикальне вирівнювання елементів по центру */
  margin-bottom: 20px;
}

.telephone-i, .globe-i, .map-i {
  font-size: 24px; /* Розмір шрифту для іконки */
  width: 36px; /* Ширина іконки */
  height: 36px; /* Висота іконки */
  margin-right: 20px; /* Відступ праворуч від іконки */
  text-align: center;
  align-items: center; /* Вирівнювання по вертикалі */
  justify-content: center; /* Вирівнювання по горизонталі */
  background-color: white; /* Білий фон для іконки */
  color: #333; /* колір для іконки */
}

.contact-text p {
  margin: 0; /* скидаємо стандартні відступи у параграфів */
  padding: 0; /* скидаємо внутрішні відступи у параграфів */
  line-height: 1.3; /* Висота рядка для тексту */
}

.contact a {
  color: white;
  text-decoration: none;
}

///////////////////////////////
// main//
.left, .right {
  padding: 0;
  background-color: #eeeeee;
}

.main-left {
  padding: 70px;
}

.main-right {
  padding: 0 70px 70px 70px;
  background-color: white;
}

.main-i {
  font-size: 40px; /* Розмір шрифту для іконки */
  width: 60px; /* Ширина іконки */
  height: 60px; /* Висота іконки */
  align-items: center; /* Вирівнювання по вертикалі */
  justify-content: center; /* Вирівнювання по горизонталі */
  margin: 0 10px 28px 0; /* Відступ праворуч та знизу від іконки */
  display: inline-flex; /* Додаємо flexbox для вирівнювання */
  background-color: #333;
  color: white;
}

.header-i h2 {
  margin: 5px;
}

.header-i {
  display: flex; /* Використання flexbox для вирівнювання */
}

///////////////////////////////
// LEFT //

// About
.about p {
  text-align: justify; // розтягування тексту на ширину рядка
  line-height: 1.6;
  margin-bottom: 24px;
}

.about p:last-child {
  margin: 0;
}

// Skills, hobbies
.progress-container p {
  font-weight: 600;
  margin: 0;
}

.progress-container {
  display: flex;
  align-items: center; /* Вертикальне вирівнювання по центру */
  margin-bottom: 12px; /* Відступ між прогрес-барами */
  padding: 0;
}

.progress-container:last-child {
  margin-bottom: 0; /* Прибираємо нижній відступ для останнього прогрес-бара */
}

.progress-bar {
  width: 43%;
  border: 2px solid #333; /* Обведення кольором */
  background-color: transparent; /* Прозорий фон */
  overflow: hidden;
  height: 12px;
  margin-left: auto; /* Вирівнюємо прогрес-бар по лівій лінії */
}

.progress {
  background-color: #333;
  height: 100%;
  width: 0; /* Спочатку 0%, потім це змінюється через інлайн стиль в HTML */
  transition: width 0.3s ease;
  border-radius: 0;
}

// Language
.language {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px; /* Встановлює розмір шрифту */
  color: #333; /* Встановлює колір тексту */
  background-color: transparent;
  border: 4px solid #333 !important;
  padding: 20px 10px 20px 10px; /* Внутрішній відступ для тексту */
  min-width: 100px; /* Мінімальна ширина для рівності коробок */
  margin: 7px 10px 0 10px; /* Відстань між коробками */
}

///////////////////////////////
// RIGHT //
.right h3 {
  //font-size: 27px;
}

//education
.education-item:last-child {
  padding-left: 20px;
}

.education h3 {
  margin: 0 0 7px 0;
}

.education p {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}

.level {
  font-size: 20px;
}

.years {
  font-size: 23px;
}

//References
.reference-item h3 {
  margin-bottom: 7px;
}

.reference-item p {
  margin-bottom: 6px; /* Задаємо інтервал між параграфами */
}

.reference-item {
  line-height: 1;
  margin-bottom: 30px; /*  інтервал між блоками */
}

.references, .experience {
  //  margin-top: 15px;
}

//Job
.job {
  margin-bottom: 30px;
}

.job:last-child {
  margin: 0;
}

.job h3 {
  margin-bottom: 4px;
}

.job-dates {
  font-size: 24px;
  text-transform: capitalize; // перша велика
  font-weight: 600;
}

.job-location {
  font-style: italic; /* Курсив */
  font-weight: 600;
  margin-bottom: 20px;
}

.job-description {
  font-weight: 500;
  font-size: 21px;
  margin: 0;
}

//Line
.horizontal-line {
  width: 100%;
  height: 2px; /* Товщина лінії */
  background-color: #333;
}

.main-left .horizontal-line {
  margin: 35px 0;
}

.main-right .horizontal-line {
  margin: 60px 0;
}

.main-left .horizontal-line:last-child {
  margin: 35px 0 0 0;
}

.main-right .horizontal-line:last-child {
  margin: 60px 0 0 0;
}